.select__trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: var(--foreground);
  box-shadow: 0 2px 10px var(--blackA7);
  color: var(--ancesst-1);
  min-width: 100px;
}

.select__trigger:hover {
  opacity: 0.7;
}

.select__trigger:focus {
  box-shadow: 0 0 0 2px black;
}

.select__trigger[data-placeholder] {
  color: var(--ancesst-1);
}

.select__content {
  overflow: hidden;
  background-color: var(--foreground);
  border-radius: 6px;
  max-height: 400px;
}

.select__item {
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  color: var(--ancesst-1);
}

.select__item[data-disabled] {
  color: var(--ancesst-1);
  pointer-events: none;
}

.select__item[data-highlighted]{
  outline: none;
  background-color: var(--primary);
  color: var(--background);
}
.select__item[data-state="checked"] {
  background-color: var(--primary);
  color: var(--background);
  opacity: 0.7;
}

.select__scroll_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}