.table__root {
  margin: 90px 0;
  display: grid;
  gap: 1rem;
  width: 100%;
}

.table__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
  display: inline-block;
}

.table__search {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.table__td--approved {
  color: var(--green)
}


.table__td--disapproved {
  color: var(--red)
}
